{% extends 'base.html' %}

{% block title %}

Edit Post

{% endblock %}



{% block content %}

<h1>Edit Post</h1>
<form action="/posts/{{ post.id }}/edit" method="POST">
    <input type="text" name="title" value="{{ post.title }}">
    <input type="text" name="content" value="{{ post.content }}">
    <h3>Tags</h3>
    {% for tag in tags %}
    <input type="checkbox" name="tag" value="{{ tag.id }}" {% if tag in checked_tags %} checked {% endif %}>
    <p>{{ tag.name }}</p>
    {% endfor %}
    <button>Update Post</button>
</form>
<br>
<a href="/users">Cancel</a>

{% endblock %}