{% extends 'base.html' %}

{% block title %}

{{ post.title }}

{% endblock %}



{% block content %}

<h1>{{ post.title }}</h1>
<h3>{{ post.content }}</h3>
<p>By: {{ user.first_name }} {{ user.last_name }}</p>
<p>{{ post.created_at }}</p>
<ul>
    {% for tag in tags %}
    <li><a href='/tags/{{tag.id}}'>{{ tag.name }}</a></li>
    {% endfor %}
</ul>
<br>
<button><a href="/users/{{ post.user_id }}">Go Back</a></button>
<button><a href="/posts/{{ post.id }}/edit">Edit</a></button>
<form action="/posts/{{ post.id }}/delete" method="POST">
    <button type="submit">Delete</button>
</form>

{% endblock %}